/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  font-family: "Cambria";
}
title {
  font-family: "Cambria";
  color: #006A88;
}
h2 p {
  line-height: 2rem;
  font-family: "Cambria";
}
h5 {
  font-family: "Cambria";
}
#logo {
  color: white;
  font-family: "Cambria";
  font-size: 1 rem;
  font-weight: 500;
}
.light {
  font-weight: 300;
}
.sidenav-trigger {
  color: #26a69a;
}
footer {
  background-color: #006A88;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}
.dark-text {
  color: black;
  font-weight: 500;
}
.nav-color {
  background-color: #006A88;
}
.white-type {
  color: white;
}

#header {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }

  #index-banner {
    display: none;
  }
  #logo {
    display: none;
  }
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }

  footer.page-footer {
    margin: 0;
  }
}
